.box {
  background-color: blue;
  padding: 10px;
}
p {
  color: yellow;
  margin: 0;
  padding: 10px;
}
.inner-box
{
  background-color: red;
  padding: 10px;
}
.white-text
{
  color:white;
}
#outer-box
{
  border: 10px solid maroon;
}

